.about-first-container h1{
    margin-top: 64px;
    font-size: 64px;
    color:white; 
    margin-bottom: 32px;
    
}

.about-first-container{
    margin-bottom: 80px;
}


.second-sub-container h3{
    color: white;
    font-size: 32px;
    margin-bottom: 30px;
}


.second-sub-container .mission{
    margin-bottom: 80px;
}

.second-sub-container .vision{
    margin-bottom: 80px;
}

.second-sub-container .about-right{
    margin-top: 30px;
    display: flex;
    padding: 60px;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
}

.second-sub-container .about-left{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 45%;
}


.fourth-container{
    margin-top: 200px;
}

.fourth-container h2{
    color: white;
    margin-bottom: 46px;

}
.fourth-sub-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 128px;
}


.name-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


.name-container p{
    color: white;
    font-weight: 600;
    font-size: 20px;
    
}
