* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--blue);
    margin: 0;
    padding: 0;
}

header {
    width: 100%; 
    background-color: var(--dark-blue);
}

.header-content {
    max-width: 1356px; 
    margin: 0 auto;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links {
    display: flex;
    gap: 30px;
    margin-right: 20px;
    font-size: 12px;
}


li, a{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:white;
}


.nav-links li {
    background-color: var(--dark-blue);
}

.login {
    display: flex;
    gap: 20px;
}

.login a {
    display: inline-block;
    font-weight: 600;
}

.social-links {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    margin-right: 20px;
}

.container {
    max-width: 1410px; /* Keep container width constrained */
    margin: 0 auto;    /* Center the container */
    padding: 20px;     /* Optional padding for content */
}
