* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--blue);
    margin: 0;
    padding: 0;
}

header {
    width: 100%; 
    background-color: var(--dark-blue);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


li, a{
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:white;
}


.nav-links li {
    background-color: var(--dark-blue);
}

.login {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login p {
    margin: 0;
    color: white;
}

.login a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.social-links {
    display: flex;
    gap: 10px;
}



.container {
    max-width: 1410px; /* Keep container width constrained */
    margin: 0 auto;    /* Center the container */
    padding: 20px;     /* Optional padding for content */
}
